* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: verdana;
}

#title {
    min-height: 720px;
    background-image:url(https://raw.githubusercontent.com/ironhack-labs/lab-css-recipes-clone/master/apple-pie/images/apple-pie.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
}

#title p {
    color: white;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

img {
    margin-top: 25px;
    margin-left: 500px;
}

/*cooking-info {
    background-image: url(https://raw.githubusercontent.com/lessacs/lab-css-recipes-clone/master/apple-pie/images/cooking-info.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 500px;
    
}*/

#cooking-info p {
    font-size: 1rem;
    padding-top: 50px;
    text-align: center;
}

#ingredients > h2 {
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 75px;
}

#directions > h2 {
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 75px;
}

ul {
    list-style: none;
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 25px;

}
    ul > li {
        text-indent: -5px;
    }
    ul > li::before {
        content: "-" ;
        text-indent: -5px;
    }

ol {
    /* 1. Remove the default list style */  
    list-style: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
    ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
  }
  
    ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ")";
  }